<launch>

    <param name="use_sim_time" value="true"/>

    <arg name="model_path" default="$(find mono)/files/weights/models/weights_1"/>
    <arg name="path" default="$(find mono)/resources/" />
    <arg name="file_name" default="gangnam_1-002" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg path)$(arg file_name).bag --quiet --clock -l"/>

    <!-- <node pkg="tf_publisher_gui" type="run.py" name="tf_publisher_gui"/> -->

    <!-- best value : x = 0, y = 0, z = -2.79, roll = -120, pitch = -180, yaw = -62 -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="num1" args="0 0 0 0 0 0 base_link rslidar 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="num2" args="0 0 0 0 0 0 base_link my_lidar 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="num3" args="0 0 0 0 0 0 base_link my_image 100" /> -->
    <!-- x y z yaw pitch roll -->

    <node pkg="mono" type="mono2.py" name="my_node" output="screen" args="--model_path $(arg model_path)"/>
</launch>

